.Table {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.Table .Header {
    font-weight: bold;
    display: flex;

}

.Table .Header .Column {
    padding: 10px;
    flex: 1;
    border: 1px solid;
}

.Body {
    display: flex;
    flex-direction: column;

}

.Body .Row {
    flex: 1;
    display: flex;
}

.Body .Row .Cell {
    padding: 10px;
    flex: 1;
    border: 1px solid;
}